<section id="menu" class="menu section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Beslenme Planlarımız</h2>
        <p><span>Size Uygun</span> <span class="description-title">Sağlıklı Menüler</span></p>
    </div><!-- End Section Title -->

    <div class="container">
        @await Component.InvokeAsync("_DefaultMenuCategoryComponentPartial")


        @await Component.InvokeAsync("_DefaultMenuProductComponentPartial")
      

    </div>

</section><!-- /Menu Section -->